html{
    
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.s3{
   
    list-style: none;
    
   
}
.profile{
    position: fixed;
}
.s2{
  
    list-style: none;
 
}
.s1{
    
    list-style: none;
    /* margin-left: 80px; */
    /* position: fixed; */
}
.w1{
    margin-left: 110px;
}
.e1{
    height: 500px;
    width: 500px;
}
.navbar{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    background-color: #000000;
    color: white;
    position: fixed; /* Fixed position */
    width: 100%; /* Full width */
    top: 0; /* Stick to the top */
    z-index: 1000; /* Ensure it's above other elements */
}

.menu-items{
display: flex;
list-style: none;
padding-right: 80px;


}
.menu-items li{
    margin-right: 20px;
}
.menu-items li :last-child{
    margin-right: 0px;
}
.menu-items li a{
   font-size: 19px; 
   text-decoration: none;
   color: #fff;
   padding: 8px 12px;
   transition: 0.3s ease;

}
.menu-items li a.signup {
    background-color: white;
    color: black;
    padding: 8px 12px; 
    border-radius: 100px; 
}
.menu-items li a.signup:hover {
    background-color: rgb(226, 226, 226);
}
.menu-items li a:hover{
    background-color:rgb(40, 40, 40);
    border-radius: 100px;
}
.menu-icon{
    font-size: 25px;
    display: none;
}
input{
    display: none;

}



.content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}
.map {
    flex: 1;
    margin-top: 90px;
    margin-left:20px;
    margin-right: 300px;
    
}
.map img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}
.details {
    flex: 1;
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 20px;
    margin-right: 30px;
    margin-top: 90px;
}
.details h2 {
    margin-top: 0;
}
.details ul {
    list-style-type: none;
    padding: 0;
}
.details li {
    
    margin-bottom: 10px;
    
}
.details button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.about {
    
    display: flex;
    padding: 20px;
    margin-top: 100px;
}
.paragraph{
margin-top:20px ;
margin-right: 200px;
margin-left: 50px;
}

.img1{
margin-top: 0px;
margin-right: 40px;

}
.img1 img{
    border-radius: 20px;
}
.about p {
    margin-bottom: 20px;
}

.service{
display: flex;
margin-top: 50px;
}
.img2{
    margin-left: 50px;
    margin-right: 100px;
    margin-bottom: 200px;
}
.img2 img{
    border-radius: 20px;
    height: 500px;
}
.options{
    margin-top: 100px;
    margin-left: 0px;
    margin-right: 50px;

}
.service h2, .about h3 {
    margin-top: 0;
}



.service ul {
    padding-left: 20px;
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    
}
footer a {
    text-decoration: none;
    color: #fff; 
}

.footer-links ul {
    list-style: none;
    padding: 0;
    
    
}

.footer-links ul li {
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
}

.store-links a img {
    height: 40px;
    margin-right: 10px;
    border-radius: 5px;
}

.copyright {
    margin-bottom: 0px;
}

